{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0"; URL="https://purf.herokuapp.com/login/">
    <title>PURF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% bootstrap_css %}
    <style>
         body {padding-top: 50px;}

         /*https://stackoverflow.com/questions/13810059/bootstrap-simple-form-checkbox-grids*/
         h4 {
    clear: both;
}

.control-group { 
    margin-bottom: 20px;
    margin-left: 20px;
}

.checkbox-columns {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}
    </style>


    <!-- Some bootstrap tut thing... -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
 
   
 <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Princeton Undergraduate Research Finder</a>
      </div>
      <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
            <li><div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Favorites
				<span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
				{% for pr in student.favorited_professors.all %}
				<li><a href="/profile/{{pr.netid}}">{{pr.name}}</a></li>
				{% endfor %}
                <li class="divider"></li>
                <li> <a href="/account"> Manage Favorites</a> </li>
			  </ul>

		    </div></li>


          <li><a href="/account">{{user}}</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  
 <body>
 {% block content %} Content goes here {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{% static "js/protosearch.js" %}"></script>
  {% bootstrap_javascript %}
  </body>
</html>
