{% extends "base.html" %}
{% block content %}

{% if new %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
	$(window).load(function(){
	$('#myModal').modal('show');
	});
</script>

<!-- Modal -->
<a data-controls-modal="myModal" data-backdrop="static" data-keyboard="false" href="#"></a>

<div class="modal in" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">New User Form</h4>
      </div>
      {% block mod %}
      <div class="modal-body">
          Welcome to PURF. Please fill out this brief form to get started.
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#red" data-toggle="tab">Student Profile</a></li>
            <li><a href="#orange" data-toggle="tab">Professor Profile</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="red">
                <h1>Student Profile</h1>
				<p>* Fields are required</p>
                <form action="/" method="post" >{% csrf_token %}
                {% for field in sForm %}
                    <div>
                        <label for="{{ field.label }}">{{ field.label_tag }}
                        {% if field.field.required %}<span class="special_class">*</span>{% endif %}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" name="student" value="Submit Student" />
                </form>
            </div>
            <div class="tab-pane" id="orange">
                <h1>Professor Profile</h1>
                <p>* Fields are required</p>
                <form action="/" method="post">{% csrf_token %}
                {% for field in pForm %}
                    <div>
                        <label for="{{ field.label }}">{{ field.label_tag }}
                        {% if field.field.required %}<span class="special_class">*</span>{% endif %}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" name="professor" value="Submit Professor" />
                </form>

                We will send a confirmation email to confirm that you are a Professor.
                Until then you will not be registered in our database.
            </div>

        </div>
      </div>
        {% endblock %}
    </div>
  </div>
</div>
  {% endif %}


  <div id="home-background" class="row">
    <div class="left col-md-8 col-lg-7">

    </div>
    <div class="right col-md-4  col-lg-5">
      <div class="image" style="background-image:
       {% if student.department == 'COS' %}
            url(http://www.cs.princeton.edu/~cdecoro/edgedetection/csbldg.jpg)
        {% elif student.department == 'ELE' %}
            url(http://www.princeton.edu/~oktour/virtualtour/french/Images/Expansions/EQuadExp.jpg)
        {% elif student.department == 'MOL' %}
            url(http://www.vanderweil.com/resources/proj_PrincetonLewis.jpg)
        {% elif student.department == 'CHM' %}
            url(http://www.archithings.com/wp-content/uploads/2012/07/Frick-Chemistry-Laboratory-Princeton-University-USA-by-Hopkins-Architects.jpg)
        {% else %}
            url(http://www.webestates.biz/wp-content/uploads/2014/01/princeton-university-blair-hall-architecture-capture-this-146067.jpg)
        {% endif %}
      ">
        <div class="orange">
        </div>
      </div>
    </div>
  </div>


  <!-- SECTION HEADER + SEARCH BOX -->
  <div id="home-container" class="container">
    <div class="row">
      <div class="left col col-md-7">
        <div class="absolute-center">
          <div id="home-form"  >
            <!-- Make the following text responsive to major? -->
            {% block major %}
              <h1>Princeton Undergraduate Research Finder</h1>
            {% endblock %}
            <form id="search-form" class="form-search">
               <div class="form-group col-sm-7 col-xs-9">
                 <input id="searchbox" class="form-control" id="exampleInputEmail2" placeholder="Search for Professors, Departments or Research Areas here"/>
               </div>
                <button id="searchbutton" type="submit" class="btn btn-default col-sm-1">Search</button>
            </form>
            </div>

            <!-- EXPANDING RESEARCH AREA SEARCH REFINEMENTS -->
            <a data-toggle="collapse" data-target="#sliding-panel">
              Refine Search by Research Area
            </a>

            <div id="sliding-panel" class="collapse">
              <div align="center">
                <!-- Make the following text responsive to major? -->
                <h1>Research Areas</h1>
              </div>

            <div class="control-group clearfix">
              <div class="checkbox-columns">
                {% for area in research_areas %}
                  <label class="checkbox span2">
                    <input type="checkbox" value="{{area}}">
                    {{area}}
                  </label>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right col col-md-3 col-md-offset-2">
        <div class="home-deadlines absolute-center">
          <p class="home-deadlines-date">due May 24</p>
          <p class="lead">Get Advisor Form Signed by Professor</p>
          <button class="btn">I'm done</button>
          <a>see all deadlines</a>
        </div>
      </div>
    </div>
  </div>


{% endblock%}
