
{% extends "base.html" %}
{% block content %}

  {% if new %}
        You are new!
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>
<!-- Button trigger modal -->
<a class="btn" data-toggle="modal" href="#myModal" >Launch Modal</a>

<!-- Modal -->
<a data-controls-modal="myModal" data-backdrop="static" data-keyboard="false" href="#"></a>

<div class="modal in" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">New User Form</h4>
      </div>
      <div class="modal-body">
          Welcome to PURF. Please fill out this brief form to get started.
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#red" data-toggle="tab">Student Profile</a></li>
            <li><a href="#orange" data-toggle="tab">Professor Profile</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="red">
                <h1>Student Profile</h1>

                <form action="/" method="post" >{% csrf_token %}
                {{ sForm.as_p }}
                <input type="submit" name="student" value="Submit Student" />
                </form>
            </div>
            <div class="tab-pane" id="orange">
                <h1>Professor Profile</h1>

                <form action="/" method="post">{% csrf_token %}
                {{ pForm.as_p }}
                <input type="submit" name="professor" value="Submit Professor" />
                </form>

                We will send a confirmation email to confirm that you are a Professor.
                Until then you will not be registered in our database.
            </div>

        </div>
      </div>

    </div>
  </div>
</div>
  {% endif %}



  <!-- SECTION HEADER + SEARCH BOX -->
  <div class="container-fluid" style="background-color: #DB7332;">
    <div class="container">
      <div class="row">
          <div align="center" >
            <!-- Make the following text responsive to major? -->
            <h1>Computer Science</h1>
            <p class="lead">Next Deadline: approaching!</p>
            <form id="search-form" class="form-search">
               <div class="form-group col-sm-7 col-sm-offset-2 ">
                 <input id="searchbox" class="form-control" id="exampleInputEmail2" placeholder="Search for Professors, Departments or Research Areas here"/>
               </div>
                <button id="searchbutton" type="submit" class="btn btn-default col-sm-1">Search</button>
            </form>
          </div>
      </div>
    </div>
  </div>


  <!-- EXPANDING RESEARCH AREA SEARCH REFINEMENTS -->
  <div class="container-fluid" style="background-color: #AECDD6;">
    <div class="container">
      <div class="row" >
        <!-- This part isn't working, obviously -->
        <a data-toggle="collapse" data-target="#sliding-panel">
          <div align="center">
            Refine Search by Research Area
          </div>
        </a>

        <div id="sliding-panel" class="collapse">
          <div align="center">
            <!-- Make the following text responsive to major? -->
            <h1>Research Areas</h1>
          </div>

          <!-- Below taken from https://stackoverflow.com/questions/13810059/bootstrap-simple-form-checkbox-grids. Have to modify... note the first column is lower than the others? -->

          <!-- Have to somehow make this responsive??? -->
          <div class="control-group clearfix">
            <div class="checkbox-columns">
              {% for area in research_areas %}
                <label class="checkbox span2">
                  <input type="checkbox" value="{{area}}">
                  {{area}}
                </label>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- SEARCH RESULTS -->
  <div class="container-fluid" style="background-color: #EEEEEE;">
    <div class="container">
      <div align="center">
        <!-- Make the following text responsive to major? -->
        <h1>Search Results</h1>
      </div>

      <div id="search-results">
      {% for result in results %}
      <div class="row" style="padding: 10px 0; background:white; margin: 1px 0">
        <div class="profile col-md-2">
          <img src="http://lorempixel.com/50/50/people"/>
        </div>
        <div class="name col-md-5">
          <!--a href="profile/{{ result.id }}">
            {{ result.name }}
          </a-->
            Default Results
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>


{% endblock%}
