
{% extends "base.html" %}
{% block content %}
  <!-- SECTION HEADER + SEARCH BOX -->
  <div class="container-fluid" style="background-color: #DB7332;">
    <div class="container">
      <div class="row">
          <div align="center" >
            <!-- Make the following text responsive to major? -->
            <h1>Computer Science</h1>
            <p class="lead">Next Deadline: approaching!</p>
            <form id="search-form" class="form-search">
               <div class="form-group col-sm-7 col-sm-offset-2 ">
                 <input id="searchbox" class="form-control" id="exampleInputEmail2" placeholder="Search for Professors, Departments or Research Areas here"/>
               </div>
                <button id="searchbutton" type="submit" class="btn btn-default col-sm-1">Search</button>
            </form>
          </div>
      </div>
    </div>
  </div>


  <!-- EXPANDING RESEARCH AREA SEARCH REFINEMENTS -->
  <div class="container-fluid" style="background-color: #AECDD6;">
    <div class="container">
      <div class="row" >
        <!-- This part isn't working, obviously -->
        <a data-toggle="collapse" data-target="#sliding-panel">
          <div align="center">
            Refine Search by Research Area
          </div>
        </a>

        <div id="sliding-panel" class="collapse">
          <div align="center">
            <!-- Make the following text responsive to major? -->
            <h1>Research Areas</h1>
          </div>

          <!-- Below taken from https://stackoverflow.com/questions/13810059/bootstrap-simple-form-checkbox-grids. Have to modify... note the first column is lower than the others? -->

          <!-- Have to somehow make this responsive??? -->
          <div class="control-group clearfix">
            <div class="checkbox-columns">
              {% for area in research_areas %}
                <label class="checkbox span2">
                  <input type="checkbox" value="{{area}}">
                  {{area}}
                </label>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- SEARCH RESULTS -->
  <div class="container-fluid" style="background-color: #EEEEEE;">
    <div class="container">
      <div align="center">
        <!-- Make the following text responsive to major? -->
        <h1>Search Results</h1>
      </div>

      <div id="search-results">
      {% for result in results %}
      <div class="row" style="padding: 10px 0; background:white; margin: 1px 0">
        <div class="profile col-md-2">
          <img src="http://lorempixel.com/50/50/people"/>
        </div>
        <div class="name col-md-5">
          <a href="profile/{{ result.id }}">
            {{ result.name }}
          </a>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>


{% endblock%}
