{% extends "index.html" %}
{% block major %}
{% if student %}
        {% if student.department == 'COS' %}
            <h1>Computer Science</h1>
        {% elif student.department == 'ELE' %}
            <h1>Electrical Engineering</h1>
        {% elif student.department == 'MOL' %}
            <h1>Molecular Biology</h1>
        {% elif student.department == 'CHM' %}
            <h1>Chemistry</h1>
        {% else %}
            <h1>Princeton Undergraduate Research Finder</h1>
        {% endif %}
{% endif %}
{% endblock %}