
{% extends "base.html" %}

{% block content %} 

  
  <div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<img alt="140x140" src="{{prof.image}} class="img-thumbnail">
		</div>
		<div class="col-md-6 column">

            {% if prof %}
			<p>
                {% if department %} {% for d in department %} {{d}} {% endfor %} {% endif %}
                {% if department and prof.title %} | {% endif %}
                {{prof.title}}
			</p>
			<h1>{% if prof.name %}{{prof.name}} {%else%} N/A {%endif%}</h1>
			<p> {{prof.email}} </p>
			<p>
				
                <a href={{prof.website_link}} target="_newtab">
                
                {{prof.website_link}}
                </a>
			</p>
            {% endif %}


            {% if myProfId == prof.id %}
                <button type="button" class="btn btn-default">Edit</button>
            {% endif %}

		</div>
		<div class="col-md-3 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
                      {% if isFavorited == "1" %}
                       <p> Already Favorited </p>
                        {% elif isFavorited == "0" %}
                        <p> <form action='/fav_prof/{{prof.id}}/' method="post">
                        {% csrf_token %}
                        <input type = "submit" value ="Favorite" />
                        </form></p>
                       {% endif %}
				</div>
			</div> Professor is unable to accept students:{{prof.full}}
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 column">
			{% if prof %}
                {% if areas %}
                    <h3>Research Areas</h3>
                    <ul>
                    {%for area in areas %}
                        <li> {{area|title}} </li>
                    {%endfor%}
                    </ul>
                {% endif %}     
            
			
                {% if research %}
                    <h3>Research Links</h3>

                    {%for link in research %}
                        <pre> <a href={{link}} target="_newtab">{{link}} </a></pre>
                    {%endfor%}

                {% endif %}                
            {% endif %} 
		</div>
		<div class="col-md-9 column">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#red" data-toggle="tab">Description</a></li>
                <li><a href="#orange" data-toggle="tab">Research Topics</a></li>
                <li><a href="#yellow" data-toggle="tab">Past Projects</a></li>
                <li><a href="#green" data-toggle="tab">Student Reviews</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="red">
                    <h1>Description</h1>
                    <p>{% if prof.description%} {{prof.description}} 
                    {% else %} No Description Available. {% endif %}</p>
                </div>
                <div class="tab-pane" id="orange">
                    <h1>Research Topics</h1>
                    {% if not topics %} <p>No topics.</p>
                    {% else %} <ul>
                        {%for topic in topics %}
                            <li> {{topic}} </li>
                        {%endfor%} </ul>
                    {% endif %} 
                </div>
                <div class="tab-pane" id="yellow">
                    <h1>Past Projects</h1>
                    {% for proj in project %}
                    <p>
                     Name: {{proj.student_name}}
                     {% if proj.netid %} NetID: {{proj.netid}} {% endif %}
                     {% if proj.year %} Year: {{proj.year}} {% endif %} 
                     {% if proj.project_title %} Project Title: {{proj.project_title}} {% endif %} 
                     {% if proj.project_description %} Project Description: {{proj.project_description}} {% endif %} 
                     {% if proj.project_description %} Project Description: {{proj.project_description}} {% endif %} 
                     {% if proj.department %} Department: {{proj.department}} {% endif %}
                     {% if proj.link %} Link: {{proj.link}} {% endif %} 
                     </p>
                    {% endfor %}
                </div>
                <div class="tab-pane" id="green">
                    <h1>Student Reviews</h1>
                    {% for item in rating %}
                    <p>
                            Responsiveness: {{item.responsive}}
                            Frequency of Contact: {{item.frequency}}
                            Input into Idea: {{item.idea_input}}
                            Overall Rating: {{item.overall}}
                            Comments: {{item.comments}}
                     </p>
                    {% endfor %}
                        
                    
                </div>
            </div>
		</div>
	</div>


</div>

{% endblock %}
  