Django==1.6.2
Pillow==2.4.0
PyRSS2Gen==1.0.0
Twisted==11.0.0
altgraph==0.7.1
bdist-mpkg==0.4.4
beautifulsoup4==4.3.2
bonjour-py==0.3
dj-database-url==0.3.0
dj-static==0.0.5
django-tastypie==0.11.0
django-toolbelt==0.0.1
