h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

p, div {
    font-family: 'Open Sans';
}

html {
    height: 100%;
}

body {
    height: 100%;
}

label {
    font-size: 13px !important;
    font-weight:500 !important;
    color: #555
}

/*
===========================================
                COOL TOOLS
===========================================
*/

.vertical-center-outer {
    display:table;
    height:100%;
    width:100%
}

.vertical-center-inner {
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%"
}

/*
===========================================
                 NAV BAR
===========================================
*/

.navbar {
    background:white;
    border-bottom: 1px solid #f3f3f3 !important;
}

.navbar-brand {
    color:orange;
    font-weight:700;
}
.navbar-brand:hover {
    color:#333;
}

.navbar .dropdown-toggle {
    color: #333;
}


/*
===========================================
                HOME PAGE
===========================================
*/

#home-title {
    font-weight:300;
}

#home-form .form-group {
    padding-left: 0;
    padding-right: 5px;
}

#home-background {
    height:100%;
    width:100%;
    position:absolute;
    margin:0;
    top:0;
    bottom:0;
}

/* the fake beautiful background */

#home-background .left {
    height:100%;
}
#home-background .right {
    height:100%;
    padding: 0;
    overflow: hidden;
    position:relative;
}

#home-background .image {
    height: 102%;
    width: 102%;
    margin: -2% -2%;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#home-background .orange {
    height: 100%;
    width: 100%;
    background:rgba(255,165,0,.7);
}

/* the fake beautiful background */

#home-form {
    overflow:hidden;
}

#home-container{
    height:100%;
}

#home-container .right{
    color: white;
}

#home-container .row{
    height:100%;
}

#home-container .col{
    height:100%;
}

#home-main-section {
    height: 300px;
    -webkit-transition: height .2s ease-in-out;
    -moz-transition: height .2s ease-in-out;
    -o-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
}

.home-deadline {
    padding-bottom:20px;
}

.home-deadline.main {
    height:200px;
}

.home-deadline .btn {
    color: white;
    background: none;
    width:80px;
    font-weight: 300;
    border: 1px solid white;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.home-deadline .btn:hover {
    color: black;
    border: 1px solid black;
}
.home-deadline .btn:focus {
    outline:none;
}

.home-deadline .see-all {
    color: white;
    font-weight: 300;
    margin-left: 10px
}
.home-deadline .see-all:hover {
    color:black;
}

.home-deadline .date{
    font-weight: 300;
    margin-bottom:0;
}

.home-deadline .lead{
    margin-top:0;
    margin-bottom:10px;
}

.home-all-deadlines {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 50px 0;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

.x-button {
    display: none;
    position: absolute;
    top:53px;
    right:0;
    padding:20px;
    color:white;
    font-size:20px;
    font-weight:300;
    cursor: default;
}
.x-button:hover {
    color: black;
}
.x-button:hover::before {
    font-size: 13px;
    content: "close ";
}

/*
===========================================
              SEARCH PAGE
===========================================
*/

#searchbox {
    width:100%;
}

#search-form-container {
    padding: 9px 0;
}

#search-form .form-group {
    padding-left: 0;
    padding-right: 5px;
}

#search-refinements-button {
    padding: 8px;
}

#search-refinements {
    background-color: #F4F4F4;
}

#search-results-container {
    background-color: #E6E6E6;
    min-height:100%;
    padding-bottom:50px;
}

#search-loading{
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    background-image: url(../img/loading.gif);
    background-position: center;
    background-repeat:no-repeat;
    opacity:0;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}
#search-loading.loading{
    opacity:1;
    -webkit-transition: opacity .5s ease-out .2s;
    -moz-transition: opacity .5s ease-out .2s;
    -o-transition: opacity .5s ease-out .2s;
    transition: opacity .5s ease-out .2s;
}

#search-results-container .container {
    position:relative;
    z-index:5;
}

@media only screen and (min-width : 768px) {
.search-result {
    padding: 10px 0;
    background:white;
    color: #444;
    border: solid 1px #D8D8D8;
    margin: 4px 0;
    max-height: 100px;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    -o-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
}
.search-result:hover {
    max-height: 500px;
    background: #fdfdfd;
}

.search-result.two {
    padding: 30px 0;
    border: solid 2px #D8D8D8;
    border-top-width: 0px;
    margin: 15px -15px;
    max-height: none;
}
.search-result.two:hover {
    max-height: none;
}

.search-result.two .search-thumbnail-container {
    max-width: 150px !important;
    margin: -30px 0px 15px 15px;
}

}

@media only screen and (max-width : 768px) {
.search-result {
    padding: 30px 0;
    background:white;
    color: #444;
    border: solid 2px #D8D8D8;
    margin: 15px -15px;
    max-height: none;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    -o-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
}
.search-result:hover {
    max-height: none;
}
.search-result .search-thumbnail-container {
    max-width: 150px !important;
    margin: -30px 0px 15px 15px;
}
}




.search-name {
    color: orange;
}

.search-thumbnail-container {
    padding:0 !important;
    text-align: center;
    margin: -10px 0;
    min-height:60px !important;
}

.search-thumbnail {
    max-width:100%;
    vertical-align: middle;
}

.search-research-areas p,
.search-research-topics p {
    font-size: 13px;
    margin: 0 0 8px;
    color: #555;
}

.highlighted {
     background-color:rgb(255, 255, 200);
}
/*
===========================================
              PROFILE PAGE
===========================================
*/

.profile-review-label {
    clear: none;
    text-align: center;
}

.profile-review-left-text {
    float:left;
}

.profile-review-right-text {
    float:right;
}

.progress {
    clear: both;
}

.progress-bar.error {
    background-color: orange;
}

.progress-bar.offset {
    background-color: transparent !important;
}

.progress-bar-container {
    width: 200%;
    height: 100%
}